[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/agrubb/dircolors-solarized.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/agrubb/gnome-terminal-colors-solarized.git
[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = https://github.com/agrubb/emacs-color-theme-solarized.git
